﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/angucomplete.css"/>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ContactMe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/contacts">Contacts</a></li>
                    <li><a href="#/addContact">Add Contact</a></li>
                    <li><a href="#/manage">Manage</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>
    <hr />
    <footer>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="~/Angular/app.js"></script>
    <script src="~/Angular/Controllers/addContactController.js"></script>
    <script src="~/Angular/Controllers/contactsController.js"></script>
    <script src="~/Angular/Controllers/homeController.js"></script>
    <script src="~/Angular/Controllers/contactController.js"></script>
    <script src="~/Angular/Controllers/manageController.js"></script>
    <script src="~/Angular/Services/detailTypesService.js"></script>
    <script src="~/Angular/Services/contactsService.js"></script>
    <script src="~/Angular/Services/tagsService.js"></script>
    <script src="~/Angular/Directives/angucomplete-alt.js"></script>
   
    @RenderSection("scripts", required: false)
</body>
</html>
