﻿<h2>Manage</h2>
<ul class="list-group" ng-hide="loading()">
    <li class="list-group-item" ng-repeat="detail in detailTypes" ng-mouseover="hoverIn(detail)" ng-mouseleave="hoverOut(detail)">
        <div ng-show="detail.selected">
            <input ng-model="detail.name" type="text" class="inputBordered form-control" placeholder="Name...">
            <input ng-model="detail.placeholder" type="text" class="inputBordered form-control" placeholder="Placeholder...">
            <input ng-model="detail.required" type="checkbox" value="true">Required<br>

            <input ng-click="deleteDetail(detail, $index)" type="button" class="btn btn-info" value="Delete">
            <input ng-click="saveDetail(detail, $index)" type="button" class="btn btn-info" value="Save">
        </div>
        <div ng-hide="detail.selected">
            <div>Name: {{detail.name}}</div>
            <div>Placeholder: {{detail.placeholder}}</div>
            <div ng-show="detail.required">Required</div>
        </div>
        <div ng-show="detail.saving">Saving...</div>
        <div ng-show="detail.saving" class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
        </div>
    </li>
</ul>
<div ng-show="loading()" class="progress progress-striped active">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    </div>
</div>
<input ng-click="addDetail()" class="btn btn-info" type="button" value="Add Detail">
